In [74]:
import pandas as pd

In [75]:
csvreader = ("Resources/purchase_data.csv")

In [79]:
purchase_data = pd.read_csv(csvreader)

In [157]:
##Player Count
#Total Number of Players
player_count = len(purchase_data['SN'].unique())
total_players = pd.DataFrame({"Total Players": [player_count]})
total_players

   Total Players
0            576

In [170]:
##Purchasing Analysis (Total)

#Number of Unique Items
#Average Purchase Price
#Total Number of Purchases
#Total Revenue

unique_items = len(purchase_data['Item ID'].unique())
purchase_price = round(purchase_data['Price'].mean(), 2)
number_of_purchases = len(purchase_data['Purchase ID'])
total_rev = sum(purchase_data['Price'])

purchase_analysis

In [65]:
###Gender Demographics###

#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

In [ ]:
###Purchasing Analysis (Gender)###

#The below each broken by gender

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Gender

In [ ]:
##Age Demographics

#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group

In [ ]:
##Purchasing Analysis (age)

#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#Purchase Count
Average Purchase Price
Total Purchase Value
Average Purchase Total per Person by Age

In [ ]:
Top Spenders

Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

SN
Purchase Count
Average Purchase Price
Total Purchase Value

In [ ]:
Most Popular Items

Identify the 5 most popular items by purchase count, then list (in a table):

Item ID
Item Name
Purchase Count
Item Price
Total Purchase Value

In [ ]:
Most Profitable Items

Identify the 5 most profitable items by total purchase value, then list (in a table):

Item ID
Item Name
Purchase Count
Item Price
Total Purchase Value

In [ ]:
As final considerations:

You must use the Pandas Library and the Jupyter Notebook.
You must submit a link to your Github/Git Lab repo that contains your Jupyter Notebook.
You must include a written description of three observable trends based on the data.
See Example Solution for a reference on expected format.