In [993]:
import os
import csv
import pandas as pd
import numpy as np

In [994]:
csvreader = ("Resources/purchase_data.csv")

In [995]:
purchase_data = pd.read_csv(csvreader)

In [996]:
##Player Count

#Total Number of Players
player_count = len(purchase_data['SN'].unique())
total_players = pd.DataFrame({"Total Players": [player_count]})
total_players

   Total Players
0            576

In [1020]:
##Purchasing Analysis (Total)

#Number of Unique Items
#Average Purchase Price
#Total Number of Purchases
#Total Revenue

unique_items = len(purchase_data['Item ID'].unique())
purchase_price = round(purchase_data['Price'].mean(), 2)
number_of_purchases = len(purchase_data['Purchase ID'])
total_rev = sum(purchase_data['Price'])

purchase_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                              "Average Purchase Price": purchase_price,
                              "Total Number of Purchases": number_of_purchases,
                              "Total Revenue":total_rev})

purchase_analysis

AttributeError: 'float' object has no attribute 'map'

In [998]:
per1 = max(purchase_data.Gender.value_counts())
per1

652

In [999]:
per = purchase_data.drop_duplicates(subset=['SN'])
per2 = per[per['Gender'] == "Male"]
x = per2.shape[0]
x

484

In [1021]:
##Gender Demographics

#Percentage and Count of Male Players
per1 = max(purchase_data.Gender.value_counts())
per = purchase_data.drop_duplicates(subset=['SN'])
per2 = per[per['Gender'] == "Male"]

male_count = per2.shape[0]

per_male = round(male_count/player_count, 4)*100

#Percentage and Count of Female Players
per3 = per[per['Gender'] == "Female"]

female_count = per3.shape[0]

per_female = round(female_count/player_count, 4)*100

#Percentage and Count of Other / Non-Disclosed
per4 = per[per['Gender'] == "Other / Non-Disclosed"]

other_count = per4.shape[0]

per_other = round(other_count/player_count, 4)*100

index = ['Male', 'Female', 'Other / Non-Disclosed']

gender_dem = pd.DataFrame({"Total Count" : [male_count, female_count, other_count], "Percentage of Players" : [per_male, per_female, per_other]}, index=index)

gender_dem

AttributeError: 'DataFrame' object has no attribute 'map'

In [1040]:
##Purchasing Analysis (Gender)

#The below each broken by gender

#Purchase Count
male_pur_count = max(purchase_data.Gender.value_counts())
female_pur_count = len(purchase_data[purchase_data['Gender'] == "Female"])
other_pur_count = min(purchase_data.Gender.value_counts())

#Average Purchase Price
male_pur = purchase_data.loc[(purchase_data['Gender'] == "Male") & (purchase_data['Price'])].mean()
male_avg_pur = round(male_pur['Price'], 2)

female_pur = purchase_data.loc[(purchase_data['Gender'] == "Female") & (purchase_data['Price'])].mean()
female_avg_pur = round(female_pur['Price'], 2)

other_pur = purchase_data.loc[(purchase_data['Gender'] == "Other / Non-Disclosed") & (purchase_data['Price'])].mean()
other_avg_pur = round(other_pur['Price'], 2)

#Total Purchase Value
male_value = purchase_data.loc[(purchase_data['Gender'] == "Male") & (purchase_data['Price'])].sum()
male_total = round(male_value['Price'], 2)

female_value = purchase_data.loc[(purchase_data['Gender'] == "Female") & (purchase_data['Price'])].sum()
female_total =round(female_value['Price'], 2)

other_value = purchase_data.loc[(purchase_data['Gender'] == "Other / Non-Disclosed" ) & (purchase_data['Price'])].sum()
other_total = round(other_value['Price'], 2)

#Average Purchase Total per Person by Gender
avg_female_per_person = round(female_total/female_count, 2)

avg_male_per_person = round(male_total/male_count, 2)

avg_other_per_person = round(other_total/other_count, 2)

index1 = ['Female', 'Male', 'Other / Non-Disclosed']

gender_pur_analysis = pd.DataFrame({"Gender": ['Female', 'Male', 'Other / Non-Disclosed'],
                                    "Purchase Count": [female_pur_count, male_pur_count, other_pur_count], "Average Purchase Price": 
                                    [female_avg_pur, male_avg_pur, other_avg_pur], "Total Purchase Value":
                                   [female_total, male_total, other_total], "Average Total Purchase Per Person":
                                   [avg_female_per_person, avg_male_per_person, avg_other_per_person]}, index=index1)

gender_pur_analysis.set_index("Gender", inplace=True)
gender_pur_analysis

/var/folders/yv/lqp4cl9n5pv59lyt_3yc0ydh0000gn/T/ipykernel_8934/855031010.py:11: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  male_pur = purchase_data.loc[(purchase_data['Gender'] == "Male") & (purchase_data['Price'])].mean()
/var/folders/yv/lqp4cl9n5pv59lyt_3yc0ydh0000gn/T/ipykernel_8934/855031010.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  female_pur = purchase_data.loc[(purchase_data['Gender'] == "Female") & (purchase_data['Price'])].mean()
/var/folders/yv/lqp4cl9n5pv59lyt_3yc0ydh0000gn/T/ipykernel_8934/855031010.py:17: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  other_pur = purchase_data.loc[(purchase_data['Gender'] == "Other / Non-Disclosed") & (purchase_data['Price'])].mean()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [1038]:
##Age Demographics

#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#Establish bins for ages
#Categorize the existing players using the age bins. Hint: use pd.cut()

age_9 = per[per['Age'] < 10].shape[0]

age_14 = per.loc[(per['Age'] >= 10) & (per['Age'] < 15)].shape[0]

age_19 = per.loc[(per['Age'] >= 15) & (per['Age'] < 20)].shape[0]

age_24 = per.loc[(per['Age'] >= 20) & (per['Age'] < 25)].shape[0]

age_29 = per.loc[(per['Age'] >= 25) & (per['Age'] < 30)].shape[0]

age_34 = per.loc[(per['Age'] >= 30) & (per['Age'] < 35)].shape[0]

age_39 = per.loc[(per['Age'] >= 35) & (per['Age'] < 40)].shape[0]

age_40 = per[per['Age'] >= 40].shape[0]

#Calculate the numbers and percentages by age group

per_9 = round(age_9 / player_count, 4)*100

per_14 = round(age_14 / player_count, 4)*100

per_19 = round(age_19 / player_count, 4)*100

per_24 = round(age_24 / player_count, 4)*100

per_29 = round(age_29 / player_count, 4)*100

per_34 = round(age_34 / player_count, 4)*100

per_39 = round(age_39 / player_count, 4)*100

per_40 = round(age_40 / player_count, 4)*100

#Create a summary data frame to hold the results
#Optional: round the percentage column to two decimal points
#Display Age Demographics Table


age_dem = pd.DataFrame({"Age Range": ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'],
                        "Total Count": [age_9, age_14, age_19, age_24, age_29, 
                                        age_34, age_39, age_40],
                        "Percentage of Players": [per_9, per_14, per_19, per_24, per_29,
                                                  per_34, per_39, per_40]})
age_dem.set_index("Age Range", inplace = True)
age_dem

           Total Count  Percentage of Players
Age Range
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

In [1039]:
##Purchasing Analysis (age)

#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#Purchase Count

pur_9 = len(purchase_data[purchase_data['Age'] < 10])

pur_14 = purchase_data.loc[(purchase_data['Age'] >= 10) & (purchase_data['Age'] < 15)].shape[0]

pur_19 = purchase_data.loc[(purchase_data['Age'] >= 15) & (purchase_data['Age'] < 20)].shape[0]

pur_24 = purchase_data.loc[(purchase_data['Age'] >= 20) & (purchase_data['Age'] < 25)].shape[0]

pur_29 = purchase_data.loc[(purchase_data['Age'] >= 25) & (purchase_data['Age'] < 30)].shape[0]

pur_34 = purchase_data.loc[(purchase_data['Age'] >= 30) & (purchase_data['Age'] < 35)].shape[0]

pur_39 = purchase_data.loc[(purchase_data['Age'] >= 35) & (purchase_data['Age'] < 40)].shape[0]

pur_40 = purchase_data[purchase_data['Age'] >= 40].shape[0]

#Average Purchase Price

avg_pur_9 = purchase_data.loc[(purchase_data['Age'] < 10) & (purchase_data['Price'])].mean()
avg_9 = round(avg_pur_9['Price'], 2)

avg_pur_14 = purchase_data.loc[(purchase_data['Age'] >= 10) & (purchase_data['Age'] < 15)
                               & (purchase_data['Price'])].mean()
avg_14 = round(avg_pur_14['Price'], 2)

avg_pur_19 = purchase_data.loc[(purchase_data['Age'] >= 15) & (purchase_data['Age'] < 20)
                               & (purchase_data['Price'])].mean()
avg_19 = round(avg_pur_19['Price'], 2)

avg_pur_24 = purchase_data.loc[(purchase_data['Age'] >= 20) & (purchase_data['Age'] < 25)
                               & (purchase_data['Price'])].mean()
avg_24 = round(avg_pur_24['Price'], 2)

avg_pur_29 = purchase_data.loc[(purchase_data['Age'] >= 25) & (purchase_data['Age'] < 30)
                               & (purchase_data['Price'])].mean()
avg_29 = round(avg_pur_29['Price'], 2)

avg_pur_34 = purchase_data.loc[(purchase_data['Age'] >= 30) & (purchase_data['Age'] < 35)
                               & (purchase_data['Price'])].mean()
avg_34 = round(avg_pur_34['Price'], 2)

avg_pur_39 = purchase_data.loc[(purchase_data['Age'] >= 35) & (purchase_data['Age'] < 40)
                               & (purchase_data['Price'])].mean()
avg_39 = round(avg_pur_39['Price'], 2)

avg_pur_40 = purchase_data.loc[(purchase_data['Age'] >= 40) & (purchase_data['Price'])].mean()
avg_40 = round(avg_pur_40['Price'], 2)

#Total Purchase Value

tot_pur_9 = purchase_data.loc[(purchase_data['Age'] < 10) & (purchase_data['Price'])].sum() 
tot_9 = round(tot_pur_9['Price'], 2)

tot_pur_14 = purchase_data.loc[(purchase_data['Age'] >= 10) & (purchase_data['Age'] < 15)
                               & (purchase_data['Price'])].sum()
tot_14 = round(tot_pur_14['Price'], 2)

tot_pur_19 = purchase_data.loc[(purchase_data['Age'] >= 15) & (purchase_data['Age'] < 20)
                               & (purchase_data['Price'])].sum()
tot_19 = round(tot_pur_19['Price'], 2)

tot_pur_24 = purchase_data.loc[(purchase_data['Age'] >= 20) & (purchase_data['Age'] < 25)
                               & (purchase_data['Price'])].sum()
tot_24 = round(tot_pur_24['Price'], 2)

tot_pur_29 = purchase_data.loc[(purchase_data['Age'] >= 25) & (purchase_data['Age'] < 30)
                               & (purchase_data['Price'])].sum()
tot_29 = round(tot_pur_29['Price'], 2)

tot_pur_34 = purchase_data.loc[(purchase_data['Age'] >= 30) & (purchase_data['Age'] < 35)
                               & (purchase_data['Price'])].sum()
tot_34 = round(tot_pur_34['Price'], 2)

tot_pur_39 = purchase_data.loc[(purchase_data['Age'] >= 35) & (purchase_data['Age'] < 40)
                               & (purchase_data['Price'])].sum()
tot_39 = round(tot_pur_39['Price'], 2)

tot_pur_40 = purchase_data.loc[(purchase_data['Age'] >= 40) & (purchase_data['Price'])].sum()
tot_40 = round(tot_pur_40['Price'], 2)

#Average Purchase Total per Person by Age

tot_avg_9 = round(tot_9/age_9, 2)

tot_avg_14 = round(tot_14/age_14, 2)

tot_avg_19 = round(tot_19/age_19, 2)

tot_avg_24 = round(tot_24/age_24, 2)

tot_avg_29 = round(tot_29/age_29, 2)

tot_avg_34 = round(tot_34/age_34, 2)

tot_avg_39 = round(tot_39/age_39, 2)

tot_avg_40 = round(tot_40/age_40, 2)

index3 = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

age_pur_analysis = pd.DataFrame({"Age Range": ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'],
                                 "Purchase Count": [pur_9, pur_14, pur_19, pur_24, pur_29,
                                                    pur_34, pur_39, pur_40],
                                 "Avg Purchase Price": [avg_9, avg_14, avg_19, avg_24,
                                                            avg_29, avg_34, avg_39, avg_40],
                                 "Total Purchase Value": [tot_9, tot_14, tot_19, tot_24, tot_29,
                                                          tot_34, tot_39, tot_40],
                                 "Avg Purchase Total per Person": [tot_avg_9, tot_avg_14,
                                                                              tot_avg_19, tot_avg_24,
                                                                              tot_avg_29, tot_avg_34,
                                                                              tot_avg_39, tot_avg_40]},)

age_pur_analysis.set_index("Age Range", inplace =True)
age_pur_analysis

/var/folders/yv/lqp4cl9n5pv59lyt_3yc0ydh0000gn/T/ipykernel_8934/1437105536.py:25: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg_pur_9 = purchase_data.loc[(purchase_data['Age'] < 10) & (purchase_data['Price'])].mean()
/var/folders/yv/lqp4cl9n5pv59lyt_3yc0ydh0000gn/T/ipykernel_8934/1437105536.py:28: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg_pur_14 = purchase_data.loc[(purchase_data['Age'] >= 10) & (purchase_data['Age'] < 15)
/var/folders/yv/lqp4cl9n5pv59lyt_3yc0ydh0000gn/T/ipykernel_8934/1437105536.py:32: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg_pur_19 = purchase_data.loc[(purchase_data['Age'] >= 15) & (purchase_data['Age'] < 20)
/var/folders/yv/lqp4cl9n5pv59lyt_3yc0ydh0000gn/T/ipykernel_8934/1437105536.py:36: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg_pur_24 = purchase_data.loc[(purchase_data['Age'] >= 20) & (purchase_data['Age'] < 25)
/var/folders/yv/lqp4cl9n5pv59lyt_3yc0ydh0000gn/T/ipykernel_8934/1437105536.py:40: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg_pur_29 = purchase_data.loc[(purchase_data['Age'] >= 25) & (purchase_data['Age'] < 30)
/var/folders/yv/lqp4cl9n5pv59lyt_3yc0ydh0000gn/T/ipykernel_8934/1437105536.py:44: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg_pur_34 = purchase_data.loc[(purchase_data['Age'] >= 30) & (purchase_data['Age'] < 35)
/var/folders/yv/lqp4cl9n5pv59lyt_3yc0ydh0000gn/T/ipykernel_8934/1437105536.py:48: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg_pur_39 = purchase_data.loc[(purchase_data['Age'] >= 35) & (purchase_data['Age'] < 40)
/var/folders/yv/lqp4cl9n5pv59lyt_3yc0ydh0000gn/T/ipykernel_8934/1437105536.py:52: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg_pur_40 = purchase_data.loc[(purchase_data['Age'] >= 40) & (purchase_data['Price'])].mean()

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Age Range,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

In [1036]:
##Top Spenders

#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

#SN
index4 = ['Lisosia93', 'Iral74', 'Idastidru52', 'Lisim78', 'Aina42']

#Purchase Count
spenders = purchase_data['SN'].value_counts()

buyer_11 = purchase_data.loc[purchase_data['SN'] == "Lisosia93"]
buyer_1 = buyer_11.shape[0]

buyer_22 = purchase_data.loc[purchase_data['SN'] == "Iral74"]
buyer_2 = buyer_22.shape[0]

buyer_33 = purchase_data.loc[purchase_data['SN'] == "Idastidru52"]
buyer_3 = buyer_33.shape[0]

buyer_44 = purchase_data.loc[purchase_data['SN'] == "Lisim78"]
buyer_4 = buyer_44.shape[0]

buyer_55 = purchase_data.loc[purchase_data['SN'] == "Aina42"]
buyer_5 = buyer_55.shape[0]

#Average Purchase Price

buyer_11_avg = purchase_data.loc[(purchase_data['SN'] == "Lisosia93") & (purchase_data['Price'])].mean()
buyer_1_avg = round(buyer_11_avg['Price'], 2)

buyer_22_avg = purchase_data.loc[(purchase_data['SN'] == "Iral74") & (purchase_data['Price'])].mean()
buyer_2_avg = round(buyer_22_avg['Price'], 2)

buyer_33_avg = purchase_data.loc[(purchase_data['SN'] == "Idastidru52") & (purchase_data['Price'])].mean()
buyer_3_avg = round(buyer_33_avg['Price'], 2)

buyer_44_avg = purchase_data.loc[(purchase_data['SN'] == "Lisim78") & (purchase_data['Price'])].mean()
buyer_4_avg = round(buyer_44_avg['Price'], 2)

buyer_55_avg = purchase_data.loc[(purchase_data['SN'] == "Aina42") & (purchase_data['Price'])].mean()
buyer_5_avg = round(buyer_55_avg['Price'], 2)

#Total Purchase Value

buyer_11_tot = purchase_data.loc[(purchase_data['SN'] == "Lisosia93") & (purchase_data['Price'])].sum()
buyer_1_tot = round(buyer_11_tot['Price'], 2)

buyer_22_tot = purchase_data.loc[(purchase_data['SN'] == "Iral74") & (purchase_data['Price'])].sum()
buyer_2_tot = round(buyer_22_tot['Price'], 2)

buyer_33_tot = purchase_data.loc[(purchase_data['SN'] == "Idastidru52") & (purchase_data['Price'])].sum()
buyer_3_tot = round(buyer_33_tot['Price'], 2)

buyer_44_tot = purchase_data.loc[(purchase_data['SN'] == "Lisim78") & (purchase_data['Price'])].sum()
buyer_4_tot = round(buyer_44_tot['Price'], 2)

buyer_55_tot = purchase_data.loc[(purchase_data['SN'] == "Aina42") & (purchase_data['Price'])].sum()
buyer_5_tot = round(buyer_55_tot['Price'], 2)
          
top_spenders = pd.DataFrame({"SN": ['Lisosia93', 'Iral74', 'Idastidru52', 'Lisim78', 'Aina42'],
                             "Purchase Count": [buyer_1, buyer_2, buyer_3, buyer_4, buyer_5],
                             "Average Purchase Price": [buyer_1_avg, buyer_2_avg, buyer_3_avg,
                                                        buyer_4_avg, buyer_5_avg],
                             "Total Purchase Value": [buyer_1_tot, buyer_2_tot, buyer_3_tot, buyer_4_tot, buyer_5_tot]})


top_spenders.set_index("SN", inplace = True)
top_spenders

/var/folders/yv/lqp4cl9n5pv59lyt_3yc0ydh0000gn/T/ipykernel_8934/1657290981.py:28: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  buyer_11_avg = purchase_data.loc[(purchase_data['SN'] == "Lisosia93") & (purchase_data['Price'])].mean()
/var/folders/yv/lqp4cl9n5pv59lyt_3yc0ydh0000gn/T/ipykernel_8934/1657290981.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  buyer_22_avg = purchase_data.loc[(purchase_data['SN'] == "Iral74") & (purchase_data['Price'])].mean()
/var/folders/yv/lqp4cl9n5pv59lyt_3yc0ydh0000gn/T/ipykernel_8934/1657290981.py:34: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  buyer_33_avg = purchase_data.loc[(purchase_data['SN'] == "Idastidru52") & (purchase_data['Price'])].mean()
/var/folders/yv/lqp4cl9n5pv59lyt_3yc0ydh0000gn/T/ipykernel_8934/1657290981.py:37: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  buyer_44_avg = purchase_data.loc[(purchase_data['SN'] == "Lisim78") & (purchase_data['Price'])].mean()
/var/folders/yv/lqp4cl9n5pv59lyt_3yc0ydh0000gn/T/ipykernel_8934/1657290981.py:40: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  buyer_55_avg = purchase_data.loc[(purchase_data['SN'] == "Aina42") & (purchase_data['Price'])].mean()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Iral74                    4                    3.40                 13.62
Idastidru52               4                    3.86                 15.45
Lisim78                   3                    3.34                 10.02
Aina42                    3                    3.07                  9.22

In [1077]:
##Most Popular Items

#Identify the 5 most popular items by purchase count, then list (in a table):

purchase = purchase_data["Item Name"]

top_sellers= purchase.value_counts()

itemID = purchase_data['Item ID']

top_items = itemID.value_counts()

#Item ID

item_id = ['92', '178', '108', '82', '145']

#Item Name

item_name = ['Final Critic', 'Oathbreaker, Last Hope of the Breaking Storm', 'Extraction, Quickblade Of Trembling Hands', 'Nirvana', 'Fiery Glass Crusader']

#Purchase Count

item_11 = purchase_data.loc[purchase_data['Item Name'] == "Final Critic"]
item_1 = item_11['Item Name'].count()

item_22 = purchase_data.loc[purchase_data['Item Name'] == "Oathbreaker, Last Hope of the Breaking Storm"]
item_2 = item_22['Item Name'].count()

item_33 = purchase_data.loc[purchase_data['Item Name'] == "Extraction, Quickblade Of Trembling Hands"]
item_3 = item_33['Item Name'].count()

item_44 = purchase_data.loc[purchase_data['Item Name'] == "Nirvana"]
item_4 = item_44['Item Name'].count()

item_55 = purchase_data.loc[purchase_data['Item Name'] == "Fiery Glass Crusader"]
item_5 = item_55['Item Name'].count()

#Item Price

item_11_avg = purchase_data.loc[(purchase_data['Item Name'] == "Final Critic") & (purchase_data['Price'])].mean()
item_1_avg = round(item_11_avg['Price'], 2)

item_22_avg = purchase_data.loc[(purchase_data['Item Name'] == "Oathbreaker, Last Hope of the Breaking Storm") & (purchase_data['Price'])].mean()
item_2_avg = round(item_22_avg['Price'], 2)

item_33_avg = purchase_data.loc[(purchase_data['Item Name'] == "Extraction, Quickblade Of Trembling Hands") & (purchase_data['Price'])].mean()
item_3_avg = round(item_33_avg['Price'], 2)

item_44_avg = purchase_data.loc[(purchase_data['Item Name'] == "Nirvana") & (purchase_data['Price'])].mean()
item_4_avg = round(item_44_avg['Price'], 2)

item_55_avg = purchase_data.loc[(purchase_data['Item Name'] == "Fiery Glass Crusader") & (purchase_data['Price'])].mean()
item_5_avg = round(item_55_avg['Price'], 2)

#Total Purchase Value

item_11_tot = purchase_data.loc[(purchase_data['Item Name'] == "Final Critic") & (purchase_data['Price'])].sum()
item_1_tot = round(item_11_tot['Price'], 2)

item_22_tot = purchase_data.loc[(purchase_data['Item Name'] == "Oathbreaker, Last Hope of the Breaking Storm") & (purchase_data['Price'])].sum()
item_2_tot = round(item_22_tot['Price'], 2)

item_33_tot = purchase_data.loc[(purchase_data['Item Name'] == "Extraction, Quickblade Of Trembling Hands") & (purchase_data['Price'])].sum()
item_3_tot = round(item_33_tot['Price'], 2)

item_44_tot = purchase_data.loc[(purchase_data['Item Name'] == "Nirvana") & (purchase_data['Price'])].sum()
item_4_tot = round(item_44_tot['Price'], 2)

item_55_tot = purchase_data.loc[(purchase_data['Item Name'] == "Fiery Glass Crusader") & (purchase_data['Price'])].sum()
item_5_tot = round(item_55_tot['Price'], 2)

most_pop_items = pd.DataFrame({"Item ID": ['92', '178', '108', '82', '145'], "Item Name": ['Final Critic', 'Oathbreaker, Last Hope of the Breaking Storm', 'Extraction, Quickblade Of Trembling Hands', 'Nirvana', 'Fiery Glass Crusader'],
                               "Purchase Count": [item_1, item_2, item_3, item_4, item_5], "Item Price": [item_1_avg, item_2_avg,
                               item_3_avg, item_4_avg, item_5_avg], "Total Purchase Value": [item_1_tot, item_2_tot, item_3_tot,
                               item_4_tot, item_5_tot]})                                                              
most_pop_items.set_index(["Item ID", "Item Name"], inplace = True,
                            append = True, drop = True)
most_pop_items

/var/folders/yv/lqp4cl9n5pv59lyt_3yc0ydh0000gn/T/ipykernel_8934/1972252923.py:40: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  item_11_avg = purchase_data.loc[(purchase_data['Item Name'] == "Final Critic") & (purchase_data['Price'])].mean()
/var/folders/yv/lqp4cl9n5pv59lyt_3yc0ydh0000gn/T/ipykernel_8934/1972252923.py:43: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  item_22_avg = purchase_data.loc[(purchase_data['Item Name'] == "Oathbreaker, Last Hope of the Breaking Storm") & (purchase_data['Price'])].mean()
/var/folders/yv/lqp4cl9n5pv59lyt_3yc0ydh0000gn/T/ipykernel_8934/1972252923.py:46: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  item_33_avg = purchase_data.loc[(purchase_data['Item Name'] == "Extraction, Quickblade Of Trembling Hands") & (purchase_data['Price'])].mean()
/var/folders/yv/lqp4cl9n5pv59lyt_3yc0ydh0000gn/T/ipykernel_8934/1972252923.py:49: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  item_44_avg = purchase_data.loc[(purchase_data['Item Name'] == "Nirvana") & (purchase_data['Price'])].mean()
/var/folders/yv/lqp4cl9n5pv59lyt_3yc0ydh0000gn/T/ipykernel_8934/1972252923.py:52: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  item_55_avg = purchase_data.loc[(purchase_data['Item Name'] == "Fiery Glass Crusader") & (purchase_data['Price'])].mean()

,,,Purchase Count,Item Price,Total Purchase Value
,Item ID,Item Name,,,
0,92,Final Critic,13,4.61,59.99
1,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
2,108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
3,82,Nirvana,9,4.90,44.10
4,145,Fiery Glass Crusader,9,4.58,41.22

In [914]:
##Most Profitable Items

#Identify the 5 most profitable items by total purchase value, then list (in a table):

#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value