In [574]:
import pandas as pd

In [575]:
csvreader = ("Resources/purchase_data.csv")

In [576]:
purchase_data = pd.read_csv(csvreader)

In [577]:
##Player Count
#Total Number of Players
player_count = len(purchase_data['SN'].unique())
total_players = pd.DataFrame({"Total Players": [player_count]})
total_players

   Total Players
0            576

In [578]:
##Purchasing Analysis (Total)

#Number of Unique Items
#Average Purchase Price
#Total Number of Purchases
#Total Revenue

unique_items = len(purchase_data['Item ID'].unique())
purchase_price = round(purchase_data['Price'].mean(), 2)
number_of_purchases = len(purchase_data['Purchase ID'])
total_rev = sum(purchase_data['Price'])

purchase_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                              "Average Purchase Price": purchase_price,
                              "Total Number of Purchases": number_of_purchases,
                              "Total Revenue":total_rev})

purchase_analysis

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.05,780,2379.77

In [579]:
per1 = max(purchase_data.Gender.value_counts())
per1

652

In [580]:
per = purchase_data.drop_duplicates(subset=['SN'])
per2 = per[per['Gender'] == "Male"]
x = per2.shape[0]
x

484

In [581]:
###Gender Demographics###

#Percentage and Count of Male Players
per1 = max(purchase_data.Gender.value_counts())
per = purchase_data.drop_duplicates(subset=['SN'])
per2 = per[per['Gender'] == "Male"]

male_count = per2.shape[0]

per_male = round(male_total/player_count, 4)*100

#Percentage and Count of Female Players
per3 = per[per['Gender'] == "Female"]

female_count = per3.shape[0]

per_female = round(female_total/player_count, 4)*100

#Percentage and Count of Other / Non-Disclosed
per4 = per[per['Gender'] == "Other / Non-Disclosed"]

other_count = per4.shape[0]

per_other = round(other_total/player_count, 4)*100

index = ['Male', 'Female', 'Other / Non-Disclosed']

gender_dem = pd.DataFrame({"Total Count" : [male_count, female_count, other_count], "Percentage of Players" : [per_male, per_female, per_other]}, index=index)

gender_dem

                       Total Count  Percentage of Players
Male                           484                 341.60
Female                          81                  62.84
Other / Non-Disclosed           11                   8.71

In [582]:
###Purchasing Analysis (Gender)###

#The below each broken by gender

#Purchase Count
male_count = max(purchase_data.Gender.value_counts())
female_count = len(purchase_data[purchase_data['Gender'] == "Female"])
other_count = min(purchase_data.Gender.value_counts())

#Average Purchase Price
male_pur = purchase_data.loc[(purchase_data['Gender'] == "Male") & (purchase_data['Price'])].mean()
male_avg_pur = round(male_pur['Price'], 2)

female_pur = purchase_data.loc[(purchase_data['Gender'] == "Female") & (purchase_data['Price'])].mean()
female_avg_pur = round(female_pur['Price'], 2)

other_pur = purchase_data.loc[(purchase_data['Gender'] == "Other / Non-Disclosed") & (purchase_data['Price'])].mean()
other_avg_pur = round(other_pur['Price'], 2)

#Total Purchase Value
male_value = purchase_data.loc[(purchase_data['Gender'] == "Male") & (purchase_data['Price'])].sum()
male_total = round(male_value['Price'], 2)

female_value = purchase_data.loc[(purchase_data['Gender'] == "Female") & (purchase_data['Price'])].sum()
female_total =round(female_value['Price'], 2)

other_value = purchase_data.loc[(purchase_data['Gender'] == "Other / Non-Disclosed" ) & (purchase_data['Price'])].sum()
other_total = round(other_value['Price'], 2)

#Average Purchase Total per Person by Gender
avg_female_per_person = round(female_total/female_count, 2)

avg_male_per_person = round(male_total/male_count, 2)

avg_other_per_person = round(other_total/other_count, 2)

index1 = ['Female', 'Male', 'Other / Non-Disclosed']

gender_pur_analysis = pd.DataFrame({"Purchase Count": [female_count, male_count, other_count], "Average Purchase Price": 
                                    [female_avg_pur, male_avg_pur, other_avg_pur], "Total Purchase Value":
                                   [female_total, male_total, other_total], "Average Total Purchase Per Person":
                                   [avg_female_per_person, avg_male_per_person, avg_other_per_person]}, index=index1)

gender_pur_analysis

/var/folders/yv/lqp4cl9n5pv59lyt_3yc0ydh0000gn/T/ipykernel_8934/4088711787.py:11: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  male_pur = purchase_data.loc[(purchase_data['Gender'] == "Male") & (purchase_data['Price'])].mean()
/var/folders/yv/lqp4cl9n5pv59lyt_3yc0ydh0000gn/T/ipykernel_8934/4088711787.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  female_pur = purchase_data.loc[(purchase_data['Gender'] == "Female") & (purchase_data['Price'])].mean()
/var/folders/yv/lqp4cl9n5pv59lyt_3yc0ydh0000gn/T/ipykernel_8934/4088711787.py:17: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  other_pur = purchase_data.loc[(purchase_data['Gender'] == "Other / Non-Disclosed") & (purchase_data['Price'])].mean()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Female,113,3.20,361.94,3.20
Male,652,3.02,1967.64,3.02
Other / Non-Disclosed,15,3.35,50.19,3.35

In [572]:
##Age Demographics

#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group

In [ ]:
##Purchasing Analysis (age)

#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#Purchase Count
Average Purchase Price
Total Purchase Value
Average Purchase Total per Person by Age

In [ ]:
Top Spenders

Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

SN
Purchase Count
Average Purchase Price
Total Purchase Value

In [ ]:
Most Popular Items

Identify the 5 most popular items by purchase count, then list (in a table):

Item ID
Item Name
Purchase Count
Item Price
Total Purchase Value

In [ ]:
Most Profitable Items

Identify the 5 most profitable items by total purchase value, then list (in a table):

Item ID
Item Name
Purchase Count
Item Price
Total Purchase Value